/*.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.box {
    border: 1px solid black;
    padding: 20px;
}*/


h1 {
	font-size: 70px;
}

button {
font-size: 30px;
color: purple;
}